<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<script>
    var inventoryCondtion = {{.inventory.InventoryCondition}}
</script>

<h1>Item Create Page</h1>

<div class="row">
    <form id="inventory_updateform" class="col-6">
        <h5>Item</h5>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="inventory_isbn">Amount:</label>
                <input class="form-control" type="text" value="{{.inventory.Amount}}" id="inventory_amount">
            </div>
            <div class="form-group col-6">
                <label for="inventory_publisher">Price:</label>
                <input class="form-control" type="text" value="{{.inventory.Price}}" id="inventory_price">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-3">
                <label for="inventory_condition">Condition:</label>
                <select class="form-control" id="inventory_condition">
                    <option value="1">As New</option>
                    <option value="2">Fine</option>
                    <option value="3">Very Good</option>
                    <option value="4">Good</option>
                    <option value="5">Fair</option>
                    <option value="6">Poor</option>
                    <option value="7">Ex-Library</option>
                    <option value="8">Book Club</option>
                    <option value="9">Binding Copy</option>
                </select>
                <!-- <input class="form-control" type="text" value="{{.inventory.ConditionString}}" id="inventory_condition"> -->
            </div>
            <div class="form-group col-9">
                <label for="inventory_note">Item Note</label>
                <textarea class="form-control" id="inventory_note" maxlength="245" rows="3">{{.inventory.Note}}</textarea>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" id="inventory_update" class="btn btn-primary">Create</button>
        </div>
    </form>

    <div class="col-6">
        <h5>Product</h5>
        <div class="form-row">
            <div class="form-group col-3">
                <label for="product_ID">Product ID:</label>
                <input class="form-control" min="1" type="number" value="0" id="product_ID">
            </div>
            <div class="form-group col-2">
                <label>&nbsp;</label>
                <button type="button" class="form-control btn btn-outline-success mx-1 ml-1" id="product_previous">Previous</button>
            </div>
            <div class="form-group col-2">
                <label>&nbsp;</label>
                <button type="button" class="form-control btn btn-outline-success mx-1" id="product_next">Next</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-3">
                <label for="inventory_isbn">ISBN:</label>
                <input class="form-control" type="text" readonly value="{{.inventory.Product.ISBN}}" id="inventory_isbn">
            </div>
            <div class="form-group col-3">
                <label for="inventory_publisher">Publisher:</label>
                <input class="form-control" type="text" readonly value="{{.inventory.Product.Publisher}}" id="inventory_publisher">
            </div>
            <div class="form-group col-3">
                <label for="inventory_type">Type:</label>
                <input class="form-control" type="text" readonly value="{{.inventory.Product.ProductTypeString}}" id="inventory_type">
            </div>
            <div class="form-group col-3">
                <label for="inventory_genre">Genre:</label>
                <input class="form-control" type="text" readonly value="{{.inventory.Product.Genre}}" id="inventory_genre">
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-8">
                <label for="inventory_name">Book Title:</label>
                <input class="form-control" type="text" readonly value="{{.inventory.Product.ProductName}}" id="inventory_name">
            </div>
            <div class="form-group col-4">
                <label for="inventory_author">Author:</label>
                <input class="form-control" type="text" readonly value="{{.inventory.Product.Author}}" id="inventory_author">
            </div>
        </div>
        <div class="form-group">
            <label for="inventory_description">Item Description</label>
            <textarea readonly class="form-control" id="inventory_description" maxlength="245" rows="3">{{.inventory.Product.Description}}</textarea>
        </div>
    </div>
</div>
<script src="/js/newitem.js" type="text/javascript"></script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}